<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,
        tr,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div id="app">
        <table>
            <!-- key用来给每一项值增加唯一标识，为了区分元素，实现最小量的更新 -->
            <tr v-for="i in num" :key="i">
                <td v-for="j in i" :key="j">
                    {{j}}*{{i}}={{j*i}}
                </td>
            </tr>
        </table>
    </div>
    <script src="js/vue_dev.js"></script>
    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                num: [1, 2, 3, 4, 5, 6, 7, 8, 9]
            }
        })
    </script>
</body>

</html>